<div class="body">
    <div class="container">
        <div class="form-box login">
            <form action="" id="formLogin">
                <h1>Inicio Sesion</h1>
                <div class="input-box">
                    <input type="text" placeholder="Usuario" id="correo">
                    <i class="ri-user-line"></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Contraseña" id="contrasena">
                    <i class="ri-lock-password-line"></i>
                </div>
                <div class="forgot-link">
                    <a href="#">Olvidaste tu Contraseña</a>

                </div>
                <button type="submit" class='btn'>Iniciar Sesion</button>
                <p>Ingresar con otra cuenta</p>
                <div class="social-icons">
                    <a href="#"><i class="ri-google-line"></i></a>
                    <a href="#"><i class="ri-facebook-circle-line"></i></a>
                    <a href="#"><i class="ri-github-fill"></i></a>
                    <a href="#"><i class="ri-linkedin-line"></i></a>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <form action="" id="formRegister">
                <h1>Registro</h1>
                <div class="input-box">
                    <input type="text" placeholder="Nombre Usuario" id="nombre">
                    <i class="ri-user-line"></i>
                </div>
                <div class="input-box">
                    <input type="email" placeholder="correo" id="correo">
                    <i class="ri-lock-password-line"></i>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="rol" id="rol">
                    <i class="ri-mail-line"></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Contraseña" id="contrasena">
                    <i class="ri-lock-password-line"></i>
                </div>

                <button type="submit" class='btn'>Registrase</button>
                <p>Registrase con otra cuenta</p>
                <div class="social-icons">
                    <a href="#"><i class="ri-google-line"></i></a>
                    <a href="#"><i class="ri-facebook-circle-line"></i></a>
                    <a href="#"><i class="ri-github-fill"></i></a>
                    <a href="#"><i class="ri-linkedin-line"></i></a>
                </div>
            </form>
        </div>
        <div class="toggel-box">
            <div class="toggle-panel toggle-left">
                <h1>Hola, Bienvenido</h1>
                <p>No tienes una cuenta?</p>
                <a class="btn register-btn" href="#registro">Registrarse</a>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Bienvenido de vuelta</h1>
                <p>Ya tienes una cuenta?</p>
                <a class="btn login-btn" href="#login">Inicia Sesion</a>
            </div>
        </div>
    </div>
   </div>