<div id="contenidoVista">
    <div class="contentForm">
        <div class="form-container">
            <h1 class="form-title">Formulario crear de Empleados</h1>
            <form id="empleadoForm">
                <div class="form-group">
                    <label for="id_persona_existente" class="form-label">Seleccionar Persona Existente
                        (Opcional)</label>
                    <select id="id_persona_existente" name="id_persona_existente" class="form-select">
                        <option value="">-- Seleccione una persona --</option>
                    </select>
                    <small class="form-text-muted">Si el cliente ya existe como persona, selecciónalo aquí.</small>
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn btn-primary">Guardar Empleado</button>
                    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancelar</button>
                </div>
            </form>
        </div>

    </div>
</div>