<div id="contenidoVista">
    <div id="contenido">
        <h1>Empleados</h1>
        <table class="table" id="tableEmpleados">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo Identificacion</th>
                    <th scope="col">Numero Identificacion</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody class="table-group-divider">

            </tbody>
        </table>
    </div>
</div>