<div id="contenidoVista">
    <div id="contenido">
        <div class="tituloTable">
            <h1>DashBoard</h1>
            
            <div class="cards-container">

                <div class="card">
                    <img class="card-img-top" src="./src/assets/inicioBoard/user.png" alt="Información Usuario">
                    <div class="card-body">
                        <h5 class="card-title">Usuario</h5>
                        <a href="#usuario" class="btn btn-primary">Ir Usuario</a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="./src/assets/inicioBoard/empleado.png" alt="Empleados">
                    <div class="card-body">
                        <h5 class="card-title">Empleados</h5>
                        <a href="#empleado" class="btn btn-primary">Ir Empleados</a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="./src/assets/inicioBoard/money.png" alt="Pagos">
                    <div class="card-body">
                        <h5 class="card-title">Pagos</h5>
                        <a href="#pagos" class="btn btn-primary">Ir Pagos</a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="./src/assets/inicioBoard/optimizing.png" alt="Mantenimientos">
                    <div class="card-body">
                        <h5 class="card-title">Mantenimientos</h5>
                        <a href="#mantenimiento" class="btn btn-primary">Ir Manteminiento</a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="./src/assets/inicioBoard/mixer.png" alt="Equipos">
                    <div class="card-body">
                        <h5 class="card-title">Equipos</h5>
                        <a href="#equipos" class="btn btn-primary">Ir Equipos</a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="./src/assets/inicioBoard/partners.png" alt="Información Usuario">
                    <div class="card-body">
                        <h5 class="card-title">Clientes</h5>
                        <a href="#cliente" class="btn btn-primary">Ir Clientes</a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="./src/assets/inicioBoard/Proveedores.png" alt="Empleados">
                    <div class="card-body">
                        <h5 class="card-title">Proveedores</h5>
                        <a href="#proveedores" class="btn btn-primary">Ir Proveedores</a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="./src/assets/inicioBoard/report.png" alt="Pagos">
                    <div class="card-body">
                        <h5 class="card-title">Personas</h5>
                        <a href="#personas" class="btn btn-primary">Ir Personas</a>
                    </div>
                </div>

                

            </div>
        </div>
    </div>
</div>