<div id="contenidoVista">
    <div id="contenido">
        <div class="user-profile-card">
            <h1>Mi Perfil de Usuario</h1>
            <div class="profile-info">
                <p><strong>Nombre Completo:</strong> <span id="userName">Cargando...</span></p>
                <p><strong>Correo Electrónico:</strong> <span id="userEmail">Cargando...</span></p>
                <p><strong>Contrasena:</strong> <span id="userPassword">Cargando...</span></p>
                <p><strong>Rol:</strong> <span id="userRol">Cargando...</span></p>
                <p><strong>Estado:</strong> <span id="userEstado">Cargando...</span></p>
            </div>
            <div class="profile-actions">
                <a href="#" id="editProfileBtn" class="btn btn-primary">Editar Información</a>
                <a href="#" id="deleteAccountBtn" class="btn btn-danger-outline">Eliminar Cuenta</a>
            </div>
            <div id="profileMessage" class="">

            </div>
            </div>
        </div>
    </div>
</div>