<div id="contenidoVista">
    <div id="contenido">
        <div class="tituloTable">
            <h1>Gestión de Equipos</h1>
            <div class="buscadorContenedor">
                <!-- Campo de búsqueda por Número de Equipo -->
                <div class="input-box buscador">
                    <input type="text" placeholder="Número de Equipo" id="numero_equipo_buscar">
                    <i class="ri-barcode-line"></i> <!-- Icono para número de equipo -->
                </div>
                <!-- Campo de búsqueda por Placa -->
                <div class="input-box buscador">
                    <input type="text" placeholder="Placa" id="placa_buscar">
                    <i class="ri-truck-line"></i> <!-- Icono para placa -->
                </div>
                <!-- Botón de búsqueda -->
                <a href="#" class="btn buscarTabla">Buscar</a>
                <!-- Botón para crear un nuevo equipo -->
                <a href="#crearEquipo" class="btn btn-primary">Crear Equipo</a>
            </div>
        </div>

        <!-- Tabla de Equipos -->
        <table class="table" id="tableEquipos">
            <thead>
                <tr>
                    <th scope="col">Número de Equipo</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Cliente Asociado</th>
                    <th scope="col">Fecha Registro</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <!-- Las filas de equipos se insertarán aquí dinámicamente por JavaScript -->
            </tbody>
        </table>

       <div id="paginator" style="margin-top: 20px; text-align: center;">
        </div>

    </div>
</div>